@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-base: #033f72;
    --color-button: #1C75C0;
    --color-path: #808080;
}

header{
    border-bottom: 1px solid #808080;
    padding-top: 10px;
    padding-bottom: 30px;
}

img#academIcon{
    position: absolute;
    left: 10px;
    top: 40px;
    background-color: var(--color-base);
}

h1#h1Arch{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-base);
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 20px;
    text-indent: 40px;
    padding: 10px;
}

h1#h1Arch a{
    color: #ffffff;
    text-decoration: none;
}

h1#h1Arch a:hover{
    text-decoration: underline;
}

nav#navHeader{
    margin-top: 25px;
    margin-bottom: -5px;
    text-align: center;
}

nav#navHeader p{
    display: inline-block;
}

nav#navHeader p a:link{
    background-color: var(--color-button);
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

nav#navHeader p a:visited{
    color: #ffffff;
}

nav#navHeader p a:hover{
    background-color: #ffffff;
    text-decoration: none;
    border: 1px solid var(--color-button);
    color: var(--color-base);
}

nav#navHeader p a:active{
    background-color: #000000;
    color: #ffffff;
}

p#path{
    padding: 10px;
    color: var(--color-path);
}

p#path a:link{
    text-decoration: none;
    color: var(--color-path);
}

p#path a:visited{
    text-decoration: none;
    color: var(--color-path);
}

ul#sectors{
    padding: 20px;
    max-width: 900px;
    margin: auto;
    /*overflow: hidden;*/
    list-style: none;
    text-align: center;
}

ul#sectors li{
    /*float: left;*/
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
    -webkit-transition: all 0.2s ease-in;
}

ul#sectors li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 18px;
    line-height: 500px;
    padding: 5px;
    border-radius: 10px;
}

ul#sectors li span a{
    color: #ffffff;
    text-decoration: none;
}

ul#sectors li:hover span{
    opacity: 1;
    cursor: pointer;
}

ul#sectors li:hover{
    -webkit-transform: scale(1.1);
}

ul#sectors li#image01{
    background: url(./image/pathology-reception-500px-new2.jpg), no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
    border-radius: 10px;
}

ul#sectors li#image01:hover{
    background-position: 0px 0px ;
    background-size: 300px 300px;
}

ul#sectors li#image02{
    background: url(./image/pathologyst-500px.jpg), no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
    border-radius: 10px;
}

ul#sectors li#image02:hover{
    background-position: 0px 0px ;
    background-size: 300px 300px;
}

ul#sectors li#image03{
    background: url(./image/clinic-reception-500px.jpg), no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
    border-radius: 10px;
}

ul#sectors li#image03:hover{
    background-position: 0px 0px ;
    background-size: 300px 300px;
}

ul#sectors li#image04{
    background: url(./image/ultrassom-500px.png), no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
    border-radius: 10px;
}

ul#sectors li#image04:hover{
    background-position: 0px 0px ;
    background-size: 300px 300px;
}

footer{
    background-color: var(--color-base);
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 3px black;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: -1px -1px 1px black;
}

footer p{
    padding-right: 40px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}
