@charset "utf-8";

:root{
    --color-base: #033f72;

}

article#origin{
    margin-bottom: 15vw;
}

article#origin h1{
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: var(--color-base);
}

article#origin p{
    text-align: justify;
    text-indent: 10px;
    margin: auto;
    color: var(--color-base);
    line-height: 25px;
    padding: 20px 30px;    
    margin-bottom: 15vw;
}