@charset "utf-8";




article table{
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
}

article table caption {
    font-weight: bold;
    font-size: 18px;
}

article table tr:nth-child(even){
    background-color: #ffffff;
}

th#description{
    width: 300px;
}

article table tr th{
    border: 2px solid gray;
    width: 100px;
    padding: 5px;
}

article table tr td{
    border: 1px solid gray;
}