@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
    --color-base: #033f72;
    --color-button: #1C75C0;
    --font-titles: 'Lato', sans-serif;
    --font-body: 'Open Sans', sans-serif;
}

h1.welcome{
    font-size: 1.6em;
    color: var(--color-base);
    text-align: center;
    padding-bottom: 10px;
}

h2.history{
    font-size: 1em;
    color: var(--color-base);
    text-align: center;
    padding-bottom: 10px;
}

h3.enjoy{
    font-size: 1.2em;
    color: var(--color-base);
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

div.historyVideo{
    text-align: center;
}
