@charset "utf-8";

:root{
    --color-base: #033f72;
    --color-button: #1C75C0;
}

article img{
    display: block;
    margin: auto;
}

article{
    max-width: 60vw;
    margin: auto;
    padding: 25px;
    margin-bottom: 15vw;
    background-color: rgba(240, 248, 255, 0.849);
    border-radius: 0px 0px 10px 10px;
}

article h1, h3, h4, h5{
    text-align: center;
    margin: 15px;
    padding: 5px;
    background-color: var(--color-button);
    color: #ffffff;
    border-radius: 10px;
}

article p{
    text-align: justify;
    text-indent: 10px;
    padding: 3px;
}

article ul{
    padding: 10px 10px 10px 20px;
}

div.citoImages{
    text-align: center;
}

div.citoImages img{
    display: inline-block;
    height: 300px;
    border: 1px solid #000000;
}

div.medicalReq{
    text-align: center;
}

div.medicalReq img{
    display: inline-block;
    max-width: 300px;
    height: 200px;
    border: 1px solid #000000;
}

aside.observation{
    border: 1px solid #808080;
    padding: 5px;
    text-indent: 10px;
    margin: 8px;
}

article ol{
    padding: 20px;
}

figure img{
    border: 1px solid #000000;
}

figure figcaption{
    text-align: center;
    padding-bottom: 15px;
}

q{
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
}

img#uparrow{
    position: fixed;
    bottom: 100px;
    right: 30px;
    border: none;

}