
/*@font-face {
	font-family: 'cm-glyphsregular';
	src:url('http://www.cellmarque.com/cms/fonts/specialties/cm-glyphsregular.eot');
	src:url('http://www.cellmarque.com/cms/fonts/specialties/cm-glyphsregular.eot?#iefix') format('embedded-opentype'),
		url('http://www.cellmarque.com/cms/fonts/specialties/cm-glyphsregular.woff') format('woff'),
		url('http://www.cellmarque.com/cms/fonts/specialties/cm-glyphsregular.ttf') format('truetype'),
		url('http://www.cellmarque.com/cms/fonts/specialties/cm-glyphsregular.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

@font-face {
    font-family: 'merck-glyphsregular';
    src: url('http://www.cellmarque.com/cms/fonts/icons_merck_2/Merck-Glyphs-Regular.eot');
    src: url('http://www.cellmarque.com/cms/fonts/icons_merck_2/Merck-Glyphs-Regular.eot?#iefix') format('embedded-opentype'),
         url('http://www.cellmarque.com/cms/fonts/icons_merck_2/Merck-Glyphs-Regular.woff2') format('woff2'),
         url('http://www.cellmarque.com/cms/fonts/icons_merck_2/Merck-Glyphs-Regular.woff') format('woff'),
         url('http://www.cellmarque.com/cms/fonts/icons_merck_2/Merck-Glyphs-Regular.ttf') format('truetype'),
         url('http://www.cellmarque.com/cms/fonts/icons_merck_2/Merck-Glyphs-Regular.svg#merck-glyphsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 1em 0 3em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'merck-glyphsregular';
	speak: none;
	font-size: 85px;
	line-height: 77px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-dstains:before {
	content: "\e009";
}

.hi-icon-antibody:before {
	content: "\e00a";
}

.hi-icon-pressure_cooker:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-ordering:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-specialties:before {
	content: "\e005";
}

.hi-icon-megaphone:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-protocols:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-cross-reactivity:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-detection:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-ancillaries:before {
	content: "\e011";
}

.hi-icon-staining:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-cart:before {
	content: "\e014";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
	/*box-shadow: 0 0 0 1px #522E91;*/
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #522E91;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
	color: #fff;
}

.hi-icon-effect-3a .hi-icon:hover {
	color: #522E91;
}

.hi-icon-effect-3a .hi-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* Effect 3b */
.hi-icon-effect-3b .hi-icon {
	color: #522E91;
}

.hi-icon-effect-3b .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-3b .hi-icon:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.hi-icon-effect-3b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



/* Effect 3_alt */
.hi-icon-effect-3_alt .hi-icon {
	/*box-shadow: 0 0 0 1px #16BECF;*/
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-3_alt .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #16BECF;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3b_alt */
.hi-icon-effect-3b_alt .hi-icon {
	color: #16BECF;
}

.hi-icon-effect-3b_alt .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-3b_alt .hi-icon:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.hi-icon-effect-3b_alt .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}






.ordering-info .hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 1em 0 3em;
}


@media only screen and (max-width : 499px) {

.ordering-info .hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #ed1c24;
	float:left;
}
	
.ordering-info .hi-icon:before {
	font-family: 'cm-glyphsregular';
	speak: none;
	font-size: 25px;
	line-height: 38px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

}