@charset "UTF-8";
/* CSS Document */


.dstain-box, 
.dstain-box:before, 
.dstain-items, 
h7, h9,
img,  {display:block;}

.box:before, .dstain-items, h7, h9  {position:absolute;}

.ds-content {
  position:relative;
  width:100%x;
  margin:20px auto 0 auto;
  text-align:center;
}

.dstain-box {
  position:relative;
  width:100%;
  height:300px;
  margin:2rem auto;
  overflow:hidden;
  cursor:pointer;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:   translate3d(0, 0, 0);
  -ms-transform:    translate3d(0, 0, 0);
  -o-transform:     translate3d(0, 0, 0);
  transform:        translate3d(0, 0, 0);
/*  -webkit-box-shadow:0px 17px 0px -10px rgba(0,0,0,0.2);
*/  -webkit-transition:all 0.7s;
  -moz-transition:   all 0.7s;
  -ms-transition:    all 0.7s;
  -o-transition:     all 0.7s;
  transition:        all 0.7s;
}

/*.dstain-box:hover  {
  -webkit-box-shadow:0px 7px 0px -5px rgba(0,0,0,0.2);
  -moz-box-shadow:   0px 7px 0px -5px rgba(0,0,0,0.2);
  box-shadow:        0px 7px 0px -5px rgba(0,0,0,0.2);
}*/

.dstain-box img {
  z-index:222;
  -webkit-transform:translateX(0px);
  -moz-transform:   translateX(0px);
  -ms-transform:    translateX(0px);
  -o-transform:     translateX(0px);
  transform:        translateX(0px);
  -webkit-transition:all 0.8s;
  -moz-transition:   all 0.8s;
  -ms-transition:    all 0.8s;
  -o-transition:     all 0.8s;
  transition:        all 0.8s;
}

.dstain-box:hover img  {
  -webkit-transform:translateX(-100px);
  -moz-transform:   translateX(-100px);
  -ms-transform:    translateX(-100px);
  -o-transform:     translateX(-100px);
  transform:        translateX(-100px);
}

.dstain-box .dstain-items {
  left:0;
    z-index:555;
  -webkit-transform:translateX(630px);
  -moz-transform:   translateX(630px);
  -ms-transform:    translateX(630px);
  -o-transform:     translateX(630px);
  transform:        translateX(630px);
  -webkit-transition:all 0.45s;
  -moz-transition:   all 0.45s;
  -ms-transition:    all 0.45s;
  -o-transition:     all 0.45s;
  transition:        all 0.45s;
}

.dstain-box:hover .dstain-items {
  -webkit-transform:translateX(340px);
  -moz-transform:   translateX(340px);
  -ms-transform:    translateX(340px);
  -o-transform:     translateX(340px);
  transform:        translateX(340px);
}

.dstain-box .dstain-items, .dstain-box h7, .dstain-box h9 {
  top:0;
  padding:10px 15px;
  background:rgba(255,255,255,0.9);
}

.dstain-box .dstain-items {
	z-index:1000;
  top:0;
  height:100%;
  width:275px;
  padding:34px 20px;
  background:rgba(255,255,255,0.9);
    font-family: sans-serif;

}

.dstain-items-blur {
	z-index:99;
	filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: url('/media/blur.svg#blur'); /* for Firefox */
}


.dstain-box h9 {
  left:0;
  z-index:333;
  width:100%;
  text-align:center;
  /*border-radius:0 0 5px 0;
  -webkit-border-radius:0 0 5px 0;;
  -moz-border-radius:0 0 5px 0;*/
  -webkit-transform:translateX(0px);
  -moz-transform:   translateX(0px);
  -ms-transform:    translateX(0px);
  -o-transform:     translateX(0px);
  transform:        translateX(0px);
  -webkit-transition:all 0.3s;
  -moz-transition:   all 0.3s;
  -ms-transition:    all 0.3s;
  -o-transition:     all 0.3s;
  transition:        all 0.3s;
  
}

h9 {
	font-family: 'Open Sans Condensed', sans-serif;
	  font-size:1.5rem;
	  font-weight:600;
	  letter-spacing:1px;
}

.dstain-box:hover h9 {
	top:12px;
	left:12px;
	width:315px;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
   transform: translateX(0px);
   font-size:1.5rem;
}


.dstain-list ul {
  list-style-position:inside;
  font-family: sans-serif;
  padding:0;
  margin:0 ;
}

.dstain-list li {
  font-family: sans-serif;
  list-style-type:none;
  line-height:1.1rem;
  font-size:0.9rem;
  padding:0;
  margin:0 0 0 -40px;

}

.dstain-list li strong {
	font-size:1.0rem;
}

.dstain-list li a {
  text-decoration:none;
  font-size:1.6rem;
  line-height:1.4rem;
 
}

.dstain-list li a:hover {
	color:#FF0004;
}

.disclaimer-ds {
	font-size:7px; 
	color:#5F5F5F; 
	line-height:0.7rem;
	padding:0;
	margin:38px 0 0 0;
}


@media (min-width : 992px) and (max-width : 1199px) {
	
.dstain-box:hover .dstain-items {
  -webkit-transform:translateX(250px);
  -moz-transform:   translateX(250px);
  -ms-transform:    translateX(250px);
  -o-transform:     translateX(250px);
  transform:        translateX(250px);
}

.dstain-box .dstain-items {
	z-index:1000;
  top:0;
  height:100%;
  width:275px;
  padding:34px 20px;
  background:rgba(255,255,255,0.9);
    font-family: sans-serif;

}
	
.dstain-box:hover h9 {
	font-size:1.3rem;
	top:12px;
	left:12px;
	width:225px;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
   transform: translateX(0px);
   
}
}

@media (min-width : 628px) and (max-width : 991px) {

.dstain-box .dstain-items {
  left:0;
    z-index:555;
  -webkit-transform:translateX(720px);
  -moz-transform:   translateX(720px);
  -ms-transform:    translateX(720px);
  -o-transform:     translateX(720px);
  transform:        translateX(720px);
  -webkit-transition:all 0.45s;
  -moz-transition:   all 0.45s;
  -ms-transition:    all 0.45s;
  -o-transition:     all 0.45s;
  transition:        all 0.45s;
}
	
	
	.dstain-box:hover .dstain-items {
  -webkit-transform:translateX(450px);
  -moz-transform:   translateX(450px);
  -ms-transform:    translateX(450px);
  -o-transform:     translateX(450px);
  transform:        translateX(450px);
}

.dstain-box .dstain-items {
	z-index:1000;
  top:0;
  height:100%;
  width:275px;
  padding:34px 20px;
  background:rgba(255,255,255,0.9);
    font-family: sans-serif;

}
	
.dstain-box:hover h9 {
	font-size:1.3rem;
	top:12px;
	left:12px;
	width:400px;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
   transform: translateX(0px);
   
}
}

@media (min-width : 500px) and (max-width : 627px) {
	
	
}

  @media only screen and (max-width : 499px) {

	  
.dstain-box {
  position:relative;
  width:100%;
  height:150px;
  margin:2rem auto;
  overflow:hidden;
  cursor:pointer;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:   translate3d(0, 0, 0);
  -ms-transform:    translate3d(0, 0, 0);
  -o-transform:     translate3d(0, 0, 0);
  transform:        translate3d(0, 0, 0);
/*  -webkit-box-shadow:0px 17px 0px -10px rgba(0,0,0,0.2);
*/  -webkit-transition:all 0.7s;
  -moz-transition:   all 0.7s;
  -ms-transition:    all 0.7s;
  -o-transition:     all 0.7s;
  transition:        all 0.7s;
}

.dstain-box:hover .dstain-items {
  -webkit-transform:translateX(150px);
  -moz-transform:   translateX(150px);
  -ms-transform:    translateX(150px);
  -o-transform:     translateX(150px);
  transform:        translateX(150px);
}


.dstain-box:hover h9 {
	font-size:1.2rem;
	top:12px;
	left:12px;
	width:120px;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
   transform: translateX(0px);
   
}

.dstain-box .dstain-items, .dstain-box h7, .dstain-box h9 {
  top:0;
  padding:10px 15px;
  background:rgba(255,255,255,0.9);
}

.dstain-box .dstain-items {
  z-index:1000;
  top:0;
  height:100%;
  width:275px;
  padding:15px 20px;
  background:rgba(255,255,255,0.9);
    font-family: sans-serif;

}

.dstain-list li {
	
}

.dstain-list li strong {
	font-size:0.8rem;
	margin-top:0;
}

.dstain-items {
	font-size:0.8rem;
	margin-top:0;
}

.dstain-list li a {
	font-size:1.0rem;
}

.dstain-box .dstain-items  hr {
	display:none;
}


  }
